<footer>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
	<a rel="me" href="mailto:hi@nikhiljha.com">Email</a> |
	<a rel="me" href="https://twitter.com/jhanikhil">Twitter</a> |
	<a rel="me" href="https://fosstodon.org/@njha">Mastodon</a> | 
	<a rel="me" href="https://gitlab.com/nikhiljha">GitLab</a> |
	<a rel="me" href="https://github.com/nikhiljha">GitHub</a>
</footer>
