@import '_variables';

/* Globals */
body .main {
  flex: 1;
}

main {
  flex: 1;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Index */
.intro .about p {
  font-size: 1.5rem;
}

.intro .about strong {
  font-size: 50px;
  font-weight: 900;
}

/* Navbar */
.navbar {
  background-color: transparent;
}

.navbar-item .navbar-item-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.navbar-brand .navbar-item img {
  max-height: initial;
}

.image.is-square img {
  height: 100%;
  width: auto;
}

.image.is-square img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Projects */
.tile.is-ancestor {
  flex-wrap: wrap;
}

/* Footer */
.footer {
  padding-bottom: 3rem;
}
