<header class="section">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <figure class="image is-64x64 is-square is-hidden-touch">
                        <img src="/logo-nt.jpg" srcset="/logo-nt.jpg 2x" alt="Nikhil Jha" class="is-rounded">
                    </figure>

                    <div class="media is-hidden-desktop">
                        <div class="media-left">
                            <figure class="image is-48x48 is-square">
                                <img src="/logo-nt.jpg" srcset="/logo-nt.jpg 2x" alt="Nikhil Jha" class="is-rounded">
                            </figure>
                        </div>
                    </div>
                    <strong class="title is-size-4 has-text-weight-medium is-hidden-desktop">Nikhil Jha</strong>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navigation">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navigation" class="navbar-menu">
                <div class="navbar-start">


                    <a href="/posts/" class="navbar-item">
                        <span class="is-size-4 has-text-weight-normal">posts</span>
                    </a>

                    <a href="/projects/" class="navbar-item">
                        <span class="is-size-4 has-text-weight-normal">projects</span>
                    </a>

                </div>

                <div class="navbar-end">

                        <a href="https://github.com/nikhiljha" class="navbar-item is-size-5 ">
                            <span class="icon is-hidden-touch">
                                <ion-icon name="logo-github" role="img" class="md hydrated" aria-label="logo github">
                                </ion-icon>
                            </span><span class="is-hidden-desktop is-size-4 has-text-weight-medium">github</span>
                        </a>

                        <a href="https://hachyderm.io/@njha" class="navbar-item is-size-5 ">
                            <span class="icon is-hidden-touch">
                                <ion-icon name="logo-mastodon" role="img" class="md hydrated"
                                    aria-label="logo mastodon"></ion-icon>
                            </span><span class="is-hidden-desktop is-size-4 has-text-weight-medium">mastodon</span>
                        </a>

                </div>
            </div>
        </nav>
    </div>
</header>
