{% extends "page.html" %}

{% block content %}
<div class="main section">
    <section class="content intro">
      <div class="h-card container box">
        <div class="columns">
          <div class="column is-1">
            <img class="u-photo" style="max-width: 100%" src="/logo-transparent.png" alt="" />
          </div>
          <div class="column">
            <h1 class="p-name u-url" href="http://nikhiljha.com/">Nikhil Jha</h1>
            <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon> <a rel="me" href="https://twitter.com/jhanikhil">Twitter</a><br>
            <ion-icon name="globe" role="img" class="md hydrated" aria-label="logo fediverse"></ion-icon> <a rel="me" href="https://fosstodon.org/@njha">Mastodon</a><br>
            <ion-icon name="mail" role="img" class="md hydrated" aria-label="mail icon"></ion-icon> <a rel="me" class="u-email" href="mailto:mail@nikhiljha.com">Email</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}  