{% extends "page.html" %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<main class="main is-flex is-flex-direction-column section">
  <div class="spacer is-flex-grow-1"></div>
  <section class="content intro">
    <div class="container is-flex is-align-items-start">
      <div class="spacer is-flex-grow-1"></div>
      <div class="biglogo" style="width:25%;">
        <njha-logo></njha-logo>
      </div>
      <div class="spacer is-flex-grow-1"></div>
    </div>
  </section>
  <div class="spacer is-flex-grow-3"></div>
</main>
{% endblock content %}
