{% extends "page.html" %}

{% block content %}
<div class="main section">
  <section class="content intro">
    <div class="container">
      <div class="about">
        <p><strong>Hi, I'm Nikhil Jha :)</strong></p>
        <p>{{ page.content | safe }}</p>
        <a class="button is-info is-medium" href="/card">Let's be friends!</a>
      </div>
    </div>
  </section>
</div>
<!--
  <br>
  <section class="h-card flex justify-content-flex-start align-items-center">
    <div>
      <img src="/logo-transparent.png" class="max-width-xxxs margin-horizontal-s">
    </div>
    <div>
      <h1 class="p-name display-title display-title-xxl">{{ page.title }}</h1>
      {%- if page.description %}<p class="subtitle p-note margin-vertical-1-2">{{ page.description }}</p>{% endif %}
      <p>
        <a rel="me" href="mailto:hi@nikhiljha.com">Email</a> |
        <a rel="me" href="https://twitter.com/jhanikhil">Twitter</a> |
        <a rel="me" href="https://fosstodon.org/@njha">Mastodon</a> | 
        <a rel="me" href="https://gitlab.com/nikhiljha">GitLab</a> |
        <a rel="me" href="https://keybase.io/njha">Keybase</a>
      </p>
    </div>
  </section>
-->
{% endblock content %}