{%- if section %}{% set page = section %}{% endif %}
<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>
    {%- if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark@0.1.0-beta.0/css/bulma-prefers-dark.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/main.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/katex.css") }}">

    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>

    <script src="/js/nav.js"></script>
  </head>
  <body>
    {% include "partials/header.html" %}
    {% block content %}
      {{ page.content | safe }}
    {% endblock content %}
    {% include "partials/footer.html" %}
  </body>
</html>



