{%- if section %}{% set page = section %}{% endif %}
<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/main.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/katex.css") }}">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include "partials/header.html" %}
    <main>
      {% block content %}
        {{ page.content | safe }}
      {% endblock content %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>



