{% extends "page.html" %}

{% block content %}
  <h1 class="p-name">{{ page.title }}</h1>

  <p>An <a href="{{ get_url(path="rss.xml") }}">RSS feed</a> is available.</p>

  {% for year, posts in section.pages | sort(attribute="date") | reverse | group_by(attribute="year") %}
    <h2>{{ year }}</h2>
    
    {% for post in posts %}
      <ul class="listing">
      <li>
        <a href="{{ post.permalink }}">{{ post.title }}</a> -
        <time datetime="{{ post.date }}">{{ post.date | date(format="%h %e, %Y") }}</time>
      </li>
    </ul>
    {% endfor %}
    
  {% endfor %}

{% endblock content %}