// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$page-color-dark: #000000;
$text-color-dark: #FFFFFF;
$page-color-light: #FFFFFF;
$text-color-light: #000000;
$accent-color: #44BBA4;