//colors
$color_charade_approx: #282a36;
$color_anakiwa_approx: #8be9fd;
$color_persian_pink_approx: #ff79c6;
$color_spring_wood_approx: #f8f8f2;
$color_honeysuckle_approx: #f1fa8c;
$color_waikawa_gray_approx: #6272a4;

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: $color_charade_approx;
	color: $color_spring_wood_approx;
}
.hljs-keyword {
	color: $color_anakiwa_approx;
	font-weight: bold;
}
.hljs-selector-tag {
	color: $color_anakiwa_approx;
	font-weight: bold;
}
.hljs-literal {
	color: $color_anakiwa_approx;
	font-weight: bold;
}
.hljs-section {
	color: $color_anakiwa_approx;
	font-weight: bold;
}
.hljs-link {
	color: $color_anakiwa_approx;
}
.hljs-subst {
	color: $color_spring_wood_approx;
}
.hljs-string {
	color: $color_honeysuckle_approx;
}
.hljs-title {
	color: $color_honeysuckle_approx;
	font-weight: bold;
}
.hljs-name {
	color: $color_honeysuckle_approx;
	font-weight: bold;
}
.hljs-type {
	color: $color_honeysuckle_approx;
	font-weight: bold;
}
.hljs-attribute {
	color: $color_honeysuckle_approx;
}
.hljs-symbol {
	color: $color_honeysuckle_approx;
}
.hljs-bullet {
	color: $color_honeysuckle_approx;
}
.hljs-addition {
	color: $color_honeysuckle_approx;
}
.hljs-variable {
	color: $color_honeysuckle_approx;
}
.hljs-template-tag {
	color: $color_honeysuckle_approx;
}
.hljs-template-variable {
	color: $color_honeysuckle_approx;
}
.hljs-comment {
	color: $color_waikawa_gray_approx;
}
.hljs-quote {
	color: $color_waikawa_gray_approx;
}
.hljs-deletion {
	color: $color_waikawa_gray_approx;
}
.hljs-meta {
	color: $color_waikawa_gray_approx;
}
.hljs-doctag {
	font-weight: bold;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-function .hljs-keyword {
	color: $color_persian_pink_approx;
}