//colors
$color_daintree_approx: #002b36;
$color_regent_gray_approx: #839496;
$color_shuttle_gray_approx: #586e75;
$color_limeade_approx: #859900;
$color_jungle_green_approx: #2aa198;
$color_curious_blue_approx: #268bd2;
$color_hot_toddy_approx: #b58900;
$color_orange_roughy_approx: #cb4b16;
$color_alizarin_crimson_approx: #dc322f;
$color_cyprus_approx: #073642;

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: $color_daintree_approx;
	color: $color_regent_gray_approx;
}
.hljs-comment {
	color: $color_shuttle_gray_approx;
}
.hljs-quote {
	color: $color_shuttle_gray_approx;
}
.hljs-keyword {
	color: $color_limeade_approx;
}
.hljs-selector-tag {
	color: $color_limeade_approx;
}
.hljs-addition {
	color: $color_limeade_approx;
}
.hljs-number {
	color: $color_jungle_green_approx;
}
.hljs-string {
	color: $color_jungle_green_approx;
}
.hljs-meta {
	color: $color_orange_roughy_approx;
	.hljs-meta-string {
		color: $color_jungle_green_approx;
	}
	.hljs-keyword {
		color: $color_orange_roughy_approx;
	}
}
.hljs-literal {
	color: $color_jungle_green_approx;
}
.hljs-doctag {
	color: $color_jungle_green_approx;
}
.hljs-regexp {
	color: $color_jungle_green_approx;
}
.hljs-title {
	color: $color_curious_blue_approx;
}
.hljs-section {
	color: $color_curious_blue_approx;
}
.hljs-name {
	color: $color_curious_blue_approx;
}
.hljs-selector-id {
	color: $color_curious_blue_approx;
}
.hljs-selector-class {
	color: $color_curious_blue_approx;
}
.hljs-attribute {
	color: $color_hot_toddy_approx;
}
.hljs-attr {
	color: $color_hot_toddy_approx;
}
.hljs-variable {
	color: $color_hot_toddy_approx;
}
.hljs-template-variable {
	color: $color_hot_toddy_approx;
}
.hljs-type {
	color: $color_hot_toddy_approx;
}
.hljs-symbol {
	color: $color_orange_roughy_approx;
}
.hljs-bullet {
	color: $color_orange_roughy_approx;
}
.hljs-subst {
	color: $color_orange_roughy_approx;
}
.hljs-selector-attr {
	color: $color_orange_roughy_approx;
}
.hljs-selector-pseudo {
	color: $color_orange_roughy_approx;
}
.hljs-link {
	color: $color_orange_roughy_approx;
}
.hljs-built_in {
	color: $color_alizarin_crimson_approx;
}
.hljs-deletion {
	color: $color_alizarin_crimson_approx;
}
.hljs-formula {
	background: $color_cyprus_approx;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-class .hljs-title {
	color: $color_hot_toddy_approx;
}