---
title: Blog
subtitle: some posts
layout: layouts/base.njk
---

<p>Feed available in <a href="https://nikhiljha.com/feed.xml">Atom</a> format.</p>

<ul class="listing">
{%- for page in collections.post | reverse -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a> -
    <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLL d, y") }}</time>
  </li>
{%- endfor -%}
</ul>